.bookDetailContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookDetails {
  display: flex;
  gap: 20px;
}

.left img {
  height: 20rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.bookDesc {
  margin-top: 20px;
}

.right button {
  width: fit-content;
  padding: 10px 20px;
  margin: 15px 0;
}

@media screen and (max-width: 480px) {
  .bookDetails {
    flex-direction: column;
  }
}
