.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
}

.navbar .navLinks {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navLinks .active {
  background-color: lightblue;
  padding: 5px;
}

.logout {
  border: none;
  background-color: #b28bf0c3;
  padding: 4px;
  color: #eee;
}

.logout:hover {
  color: black;
  cursor: pointer;
}
