.cartItem {
  display: flex;
  gap: 10px;
}

.cartItem img {
  width: 50px;
}
.detail {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.quantity {
  display: flex;
  gap: 10px;
}
.quantity button {
  padding: 5px;
}
